* {
    margin: 0;
    padding: 0;
}
body {
/*     background: url(Fotos\ projeto/fundo1.jpg)no-repeat top center;
 */    
    background-attachment: fixed;
    background-color: rgb(253, 251, 251);
    font-family: 'Source Code Pro', monospace;
}
#cabecalho {
    position: fixed;
    top: 0;
    right: 0;
}
.menu {
    position: fixed;
    top: 0;
    right: 0;

}
.menu ul li {
    padding: 10px;
    padding-right: 30px;
    padding-top: 20px;
    list-style: none;
}
.menu-hide {
    display: none;
}
nav:hover .menu-hide {
    display: block;
}
#titulo {
    text-align: right;
    background-color: grey;
}
#box {
    background-color:#585959af;
    border-radius:10%;
    width: 400px;
    height: 500px;
    padding: 50px 40px 40px 64px;
    margin: 0 auto 0 auto;
    box-shadow: 20px 20px 20px  rgba(0, 0, 0, 0.329);
}
#minha_foto {
    border-radius: 50%;
    max-width: 300px;
}
#box, h1 , p {
    text-align: center;
    padding: 5px;
}
.icons {
    list-style: none;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
#sessao1, #sessao2, #sessao3, #sessao4 {
    padding-top: 200px;
    padding-bottom: 200px ;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#licoes_aprendidas, li {
    list-style: none;
        padding: 2px;
}
#licoes_a_aprender #licoes_aprendidas, li:hover {
    color: grey;
}
.caixas {
    background-color:#585959af;
    margin: 0 auto 0 auto;
    width: 350px;
    height: 320px;
    border-radius: 10%;
    box-shadow: 20px 20px 20px  rgba(0, 0, 0, 0.329);

}
article, aside, h1, p {
    font-size: 20px;
}
